@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6990f2;
}
#root{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
::selection {
  color: #fff;
  background: #6990f2;
}
